<section id="Contact">

    <a id="contact"></a> <!-- ancre nommée -->
    <div class="clear"></div>
    <div id="leka" class="center"><img src="img/logo3.png"></div>
    <div id="footer"><p>Sign up to our mailing list to help us make it possible ! Contact us at hello@leka.io <br></p></div>
    
</section>

