<section id="Contact">

    <a id="contact"></a> <!-- ancre nommée -->
    <div class="clear"></div>
    <div id="moto">Leka means to « play » and to « heal » in Sweddish and it’s exactly what we are going to achieve</div>
    <div id="leka" class="center"><img src="img/LekaToPlayToHeal.png" alt="Leka, to heal, to play"></div>
    <div id="LekaBtnJoinUs">{{> JoinUs}}</div>
    <div id="footer"><p><em>Sign up to our mailing list to help us make it possible !</em></p><p> Contact us at hello@leka.io <br></p></div>
    
</section>


