<section id="DiscoverMoti">
    <div class="clear"></div>
    <a id="discoverMoti"></a> <!-- ancre nommée -->
    <div id="robot"><img src="img/moti.png"></div>
    <div id="accroche"><p><strong>An interactive friend to stimulate & engage 
children in educational activities
</strong></p></div>
    <div id="args"><p><span class="blue">Talks -</span> to work social interaction & communication
</p><p><span class="pink">Rolls around - </span>to work motor skills & coordination
</p><p><span class="green">Plays music, lights & vibrations - </span>to work sensory processing
</p></div>
    <div class="clear"></div>
    <div id="otherArgs"><em>& various applications – to help children better integrate & improve their intelectual aptitudes</em>
</div>
    <div id="blocks"><img src="/img/args.png"></div>
    
    <div class="clear"></div>
    <div id="manyArgs"><p>Entirely based on sensory stimulation Leka has been developed according to scientific recommendations.</p><p> The power of robotics makes Leka autonomous, predictable in its behaviors, adaptable to meet exceptional children needs.  
</p></div>
    
    
</section>
