<section id="DiscoverMoti" class="width">
    <div class="clear"></div>
    <a id="discoverMoti"></a> <!-- ancre nommée -->
    <div id="robot"><img src="img/moti.png" alt="picture of the robot"></div>
    <div id="accroche"><p><strong><p>We created Leka</p>&nbsp;<p>To help exceptional children live exceptional lives</p></strong></p></div>
    <div class="clear"></div>
    <div id="blocks">
    <div id="block1"><h1><p>Leka Talks</p></h1><p>to work social interaction & communication</p></div>
    <div id="block2"><h1><p>Music, vibrations & lights</p></h1><p>to work sensory processing</p></div>
    <div id="block3"><h1><p>Rolls Around</p></h1><p>to work motor skills & coordination</p></div></div>
    <div id="L">
    <div id="L1"><img src="/img/L1.png" alt="drawing of a child talking to Leka"></div>
    <div id="L2"><img src="/img/L2.png" alt="drawing of a child running with Leka"></div>
    <div id="L3"><img src="/img/L3.png" alt="drawing of a child running with Leka"></div></div>
    <div class="clear"></div>

    
    
    

</section>
