
<header class="navigation" role="banner">

	<div class="navigation-wrapper">

		<a href="javascript:void(0)" class="logo">
			<img src="img/leka.png" alt="Logo Image">
		</a>

		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars fa-1x"></i></a>

		<nav role="navigation">

			<ul id="js-navigation-menu" class="navigation-menu show">
				<li class="nav-link"><a href="#ourMission">Our Mission</a></li>
				<li class="nav-link"><a href="#discoverMoti">Discover {{productName}}</a></li>
				<li class="nav-link"><a href="#research">Research</a></li>
				<li class="nav-link"><a href="#team">Team</a></li>
                <li class="nav-link"><a href="#contact">Contact</a></li>
				<li class="nav-link"><a class="button" href="javascript:void(0)">Pre-order</a></li>
                <li class="nav-link"><a href="javascript:void(0)">FR</a></li>                
			</ul>

		</nav>

	</div>

</header>
