
<header id="header" class="alt">

	<a href="/{{lang}}">
		<img id="logo-leka" src="/img/leka.png" alt="Leka Logo" />
	</a>

	<nav id="nav">
		<ul>
			<li><a data-scroll href="#about-moti">About Brio</a></li>
			<li><a data-scroll href="#story">Our story</a></li>
			<li><a data-scroll href="#team">Team</a></li>
			<li><a data-scroll href="#contact">Say hello</a></li>
			<li><a data-scroll href="#cta" class="button">Pre-order</a></li>
		</ul>
	</nav>

</header>
