<div id="HomePage">
    <!--<div id="logo"><img src="img/logo1.2.png" alt="logo nom Leka"></div>   -->
    <div id="YTLink"><iframe width="560" height="315" src="https://www.youtube.com/embed/VuszKcoJWBY" frameborder="0" allowfullscreen></iframe></div>
        <div id="logo1"><img src="img/logo1.1.png" alt="logo Moti"></div>
        <div id="pres1"><h1>A game-changer companion to help exceptional children interact & progress</h1><h3>Designed for children with autism and other developmental disorders</h3></div>
</div> <!-- fin de HomePage -->
