<div id="HomePage" class="width">
    <a id="up"></a> <!-- ancre nommée -->
    <div id="YTLink"><iframe width="560" height="315" src="https://www.youtube.com/embed/VuszKcoJWBY" frameborder="0" allowfullscreen></iframe></div>

    <div><div id="pres1">A game-changer companion to help exceptional children interact & progress.</div>
    <div class="clear"></div>
    <div id="pres2">Designed for children with autism and other developmental disorders</div></div>
    <div class="clear"></div>
    <div id="LekaHPBtn"> {{> AdoptAMoti}} </div>
    <div class="clear"></div>

    
</div> <!-- fin de HomePage -->


