<section id="OurMission">    
        
    <div class="clear"></div>
    <a id="ourMission"></a> <!-- ancre nommée -->
    <div id="logoPage2"><img src="img/logo2.png" alt="dessin enfant avec Moti"></div>
    <div id="texte1"><h2>At Leka we believe in play as a path to achieve radical improvements in exceptional children education !</h2></div>
    <div class="clear"></div>
<!--    <div id="photoL"><div id="photo"><img src="img/Ladislas.png" alt="photo Ladislas de Toldi en conférence"> </div>
    <div id="texte2"><p>‘‘If playing is for children the first path to help them discover the world, socialize and progress, it is exactly THE SAME for children with disabilities !</p><p>So why is there no appropriate fun & educative solution for these children ?</p><p>Based on scientific recommendations and therapy methods Leka is designing validated & playful tools to help parents and therapists adress children development needs.</p><p>To do so our focus is on Technology & Research. Our belief is in evidence based medicine !</p><p>A child in a hundred is living at the margin of our world, it's time we let them in !’’</p><p>Ladislas de Toldi, CEO of Leka</p></div></div> -->
    <div class="center"><img src="img/MotiStory.png"></div>
    
</section>
