<section id="OurMission" class="width">    
        
    <div class="clear"></div>
    <div id="texte1"><h2><em>‘‘A child in a hundred is living at the margin of our world it’s time we let them in !’’</em></h2></div>
    
    <div class="clear"></div><a id="ourMission"></a> <!-- ancre nommée -->
    <div id="missionPic"><img src="img/LDT.png" alt="Ladislas de Toldi talking"></div>
    
    <div id="missionText"><p>‘‘Playing is the children path to discover the world and progress. So why is there no dedicated playing solution for children with disabilities ?! </p>&nbsp;<p>Based on scientific recommendations and therapy methods, we are designing validated tools to help parents and therapists achieve radical improvements in exceptional children education.
</p><p>To do so our focus is on Technology & Research. Our belief is in evidence based medicine !’’</p>&nbsp;<p style="text-align:right">Ladislas de Toldi, CEO of Leka SAS
</p></div>
    
</section>

