<section id="Research">

    <div class="clear"></div>
    
    <a id="research"></a> <!-- ancre nommée -->
    <div id="contenu" class="width" >
    <div id="research1"><p style="font-size: 35px;text-align:center;">Our focus in on Research</p><p>From day one we spent time with children to better understand their needs and test our prototype. </p><p><em>Through testing we showed high interest in the product and motivation to play & communicate. Now we are gonna show progress ! </em></p></div>
    <div id="picTestimonyMarine"><img src="/img/Marine.png" alt="picture of Marine Couteau"></div>
    <div id="research2"><p>"Our goal is to show that behind its fun and playing proprieties, our robot is helping children to progress.</p><p>Following evidence based medicine principles we are validating our solutions with professionals.</p>&nbsp;<p style="text-align:right">Marine Couteau, R&D Officer at Leka</p></div>
    <div class="clear"></div>
    <div id="research3"><p>We are mentored by a high-skilled scientific advisory board</p></div>
    <!--la div clear ci-dessous est là pour permettre au background de descendre jusqu'en bas de la section-->
    <div class="clear"></div>
        
        <!--Témoignages scientifiques-->
    <div id="bubble1">
    <img src="/img/R1.png">
    <div class="bio_text_research">ABCD</div>
    <div class="bio_text_research">Lorem ipsum</div>
    </div>
    <div id="bubble2">
    <img src="/img/R2.png">
    <div class="bio_text_research">ABCD</div>
    <div class="bio_text_research">Lorem ipsum</div>
    </div>
    <div id="bubble3">
    <img src="/img/R2.png">
    <div class="bio_text_research">ABCD</div>
    <div class="bio_text_research">Lorem ipsum</div>
    </div>
    <div class="clear"></div>   
    </div> <!--fin de la div avec classe width-->
    
</section>
