<section id="Research">

 <div id="seenIn">
        <ul>
            <li>Seen in:</li>
            <li><a href="#">The Guardian</a></li>
            <li><a href="#">Le Monde</a></li>
            <li><a href="#">RoboHub</a></li>
        </ul>
     </div> <!-- fin de seenIn -->
     <div id="research1"><h3>Through Testing we already showed high interest, we are gonna show progress !</h3></div> <a id="research"></a> <!-- ancre nommée -->
     <div id="research2"><h4>From day one we have spent a lot of time with children to better understand their needs and test our prototype. We are now mentored by a closed scientific advisory board</h4></div>
     <div id="bubbles"><img src="img/bubble.png"></div>
     <div id="research3"><h5>Our main goal is to demonstrate by proofs that robotic is an effective tool to reduce anxiety and enhance autism therapies. We want to provide a robotic toy that behind its fun and playing proprieties include functionnalities proven to be helpful for those in the autism spectrum. You can learn more about evidence-based practices guidelines on the website of the [National Professional Development Center on Autism Spectrum Disorder](http://autismpdc.fpg.unc.edu/evidence-based-practices).</h5></div>
      <div id="research4"><h3>First tests with 70 children showed they are : More interested in the robot than with classic toys, Motivated to play all along the 15 minutes session, Communicative & joyful when playing with the robot.</h3></div>
    
</section>
