
<section id="social-engagement">

	<div class="nectar-social  items_5">

		<a class='facebook-share nectar-sharing' href='#' title='Share this'> <i class='icon fa-facebook'></i> <span class='count'></span></a>
		<a class='twitter-share nectar-sharing' href='#' title='Tweet this'> <i class='icon fa-twitter'></i> <span class='count'></span></a>
		<a class='google-plus-share nectar-sharing-alt' href='#' title='Share this'> <i class='icon fa-google-plus'></i> <span class='count'> 221 </span></a>
		<a class='linkedin-share nectar-sharing' href='#' title='Share this'> <i class='icon-linkedin'></i> <span class='count'></span></a>
		<a class='pinterest-share nectar-sharing' href='#' title='Pin this'> <i class='icon-pinterest'></i> <span class='count'></span></a>

	</div>

</section>
