<section id="Team">
    <div class="clear"></div>
    <div id="seenIn">
        <ul>
            <li>Seen in:</li>
            <li><a href="#">The Guardian</a></li>
            <li><a href="#">Le Monde</a></li>
            <li><a href="#">RoboHub</a></li>
        </ul>
     </div> <!-- End of seenIn -->
    <div class="clear"></div>
     <div class="center"><img src="img/weAreLeka.png"</div> <a id="team"></a> <!-- ancre nommée -->
    <div class="clear"></div>
    <div id="Level1"> 
    <div id="Level1_1">
        <img src="/img/Team1.png" class="bio_pic">
        <div class="bio_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit. Morbi dignissim mauris neque, faucibus ultrices orci congue eu. Ut aliquam lectus vel mauris dapibus, at consequat magna interdum</p></div></div>
    <div id="Level1_2">
        <img src="/img/Team2.png" class="bio_pic">
        <div class="bio_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit. Morbi dignissim mauris neque, faucibus ultrices orci congue eu. Ut aliquam lectus vel mauris dapibus, at consequat magna interdum</p></div></div>
    </div>  <!-- End Level1 -->
    <div class="clear"></div>
    <div id="Level2">
    <div id="column1" class="columnLevel2">
    <div id="Level2_1" class="col1">
        <img src="/img/Team3.png" class="bio_pic">
    <div class=".bio_text_Level2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit.</div>
    </div>
    <div id="Level2_2" class="col2">
        <img src="/img/Team4.png" class="bio_pic">
    <div class=".bio_text_Level2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit.</div>
    </div>
    </div> <!-- End column1 -->
    <div id="column2" class="columnLevel2">
    <div id="Level2_3" class="col1">
        <img src="/img/Team5.png" class="bio_pic">
    <div class=".bio_text_Level2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit. </div>
    </div>
    <div id="Level2_4" class="col2">
        <img src="/img/Team6.png" class="bio_pic">
    <div class=".bio_text_Level2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit. </div>
    </div>
    </div> <!-- End column2 -->
    <div id="column3" class="columnLevel2">
    <div id="Level2_5" class="col1">
        <img src="/img/Team7.png" class="bio_pic">
    <div class=".bio_text_Level2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit.</div>
    </div>
    <div id="Level2_6" class="col2">
        <img src="/img/staff2.png" class="bio_pic">
    <div class=".bio_text_Level2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien tortor, molestie egestas dolor at, viverra tempus velit. </div>
    </div> 
    </div> <!-- End column3 -->
    </div> <!-- End Level2 -->
</section>
