<section id="Team">

<div id="comments"><p>« We had a <strong>great time </strong>last Wednesday with {{productName}}. Matthieu really<strong> enjoyed playing with it.</strong> Once back home, he <strong>deliberately shared his joy</strong> with his father, brothers and sisters.</p><p>The way he deliberately talked about {{productName}} at home is the<strong> first effect of your work on Matthieu. Thank you.</strong> » Matthieu’s mother</p></div>
     <div id="staff"><img src="img/staff.png"</div> <a id="team"></a> <!-- ancre nommée -->
         <!-- prévoir de modifier l'image -> passage sur une partie moins statique avec photo de chaque personne+ biographie -->
         
</section>
