<section id="Team" class="width"> <a id="team"></a> <!-- ancre nommée -->
    <div class="clear"></div>

    <div class="clear"></div>
     <div id="weAreLeka" class="center"><img src="img/weAreLeka.png" alt="we are Leka"></div>
    <div class="clear"></div>
         
        <!-- Level 1 = Marine et Ladislas-->
    <div id="Level1"> 
    <div id="Level1_1">
        <img src="/img/Team1.png" class="bio_pic">
        <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div></div>
    <div id="Level1_2">
        <img src="/img/Team2.png" class="bio_pic">
        <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div></div>
    </div>  <!-- End Level1 -->
    <div class="clear"></div>
         
         <!--Level 2-->
    <div id="Level2">
    <div id="column1" class="columnLevel2">
    <div id="Level2_1" class="col1">
        <img src="/img/Team3.png" class="bio_pic">
    <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div>
    </div>
    <div id="Level2_2" class="col2">
        <img src="/img/Team6.png" class="bio_pic">
    <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div>
    </div>
    </div> <!-- End column1 -->
    <div id="column2" class="columnLevel2">
    <div id="Level2_3" class="col1">
        <img src="/img/Team4.png" class="bio_pic">
    <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div>
    </div>
    <div id="Level2_4" class="col2">
        <img src="/img/Team6.png" class="bio_pic">
    <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div>
    </div>
    </div> <!-- End column2 -->
    <div id="column3" class="columnLevel2">
    <div id="Level2_5" class="col1">
        <img src="/img/Team5.png" class="bio_pic">
    <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div>
    </div>
    <div id="Level2_6" class="col2">
        <img src="/img/bubble.png" class="bio_pic">
    <div class="bio_text"><p>Mon nom</p><p>Ma fonction</p></div>
    </div> 
    </div> <!-- End column3 -->
    </div> <!-- End Level2 -->
</section>
