<section id="Testimony">
    <div id="engagement">Through stimulation & play Leka engages children in learning activities</div>
    
    <!--Les fonctions du robot -->
    <div class="width">
    <div>
    <div id="function1"><img src="/img/Function1.png" alt="child brushing his teeth helped by Leka"></div>
    <div id="title1">#Autonomy in daily tasks</div>
    <div id="explaination1"><p>When it comes to complete daily tasks, Leka has the ability to gamify numerous situation to motivate and guide children to success.</p><p>Among available applications : Time Timer, Agenda, Sing me how to dress, Tooth Brushing Motivator, Alarm-Clock, Night-Light</p></div></div>
    <div class="clear"></div>
    <div>
    <div id="function2"><img src="/img/Function2.png" alt="children dancing with Leka"></div>
    <div id="title2">#Autonomous & Multiplayer activities</div>
    <div id="explaination2"><p>Leka offers highly entertaining games for all. Thanks to sensors Leka can adapt its behaviors to every child and endlessly repeat instructions. This way Leka favors integration & family happiness.</p><p>Among available applications : Hide & Go Seek, Touch-Blink-Spin, Colors Bingo</p></div></div>
    <div class="clear"></div>
    <div>
    <div id="function3"><img src="/img/Function3.png" alt="child interacting with its mother"></div>
    <div id="title3">#A therapy tool</div>
    <div id="explaination3"><p>Leka is designed according to validated comportemental & relationships methods (ABA, TEACCH…) in order to improve therapies effects. This gives the opportunity to keep running therapies from home to make faster progress. </p></div></div>
    <div class="clear"></div>
    <div id="finalExplaination">Leka is Predictable in its behaviors & Adaptable to all children needs</div>
    </div> <!-- fin de la div qui centre les éléments Functions -->
    
    
    <!--Témoignages des utilisateurs -->
    <div class="clear"></div>
    <div id="testimony1"><div class="width"><div id="picTestimony1"><img src="/img/Testimony1.png"></div>
    <div id="T1_1"><p>‘‘A simple & predictable interface to motivate interaction with the real world & better integrate it !’’</p>&nbsp;&nbsp;<p style="float:right"> Fréderic, proud dad of Eliott</p></div></div></div>
    
    <div id="testimony"><div class="width"><div id="picTestimony"><img src="/img/Testimony2.png" alt="Matthieu playing with Leka"></div>
    <div id="T1"><p>« Matthieu really enjoyed playing with Leka. Once back home, he deliberately shared his joy with his father, brothers and sisters.</p><p>The way he deliberately talked about Leka at home is the first effect of your work on Matthieu. Thank you. »</p><p style="float:right"> Matthieu’s mother</p></div></div></div>


    
        <!--Leka dans la presse-->
        <div class="clear"></div>
        <div class="width">
        <div id="news">Leka in the news</div>
        <div id="Press1">
        <a href="#" target="_blank" class="link"><img src="/img/guardian.png" alt="the guardian logo"></a>
        <a href="#" target="_blank" class="link"><img src="/img/MakerFaire.jpg" alt="Maker Faire logo"></a>
        <a href="#" target="_blank" class="link"><img src="/img/LeMonde.jpg" alt="Le Monde logo"></a>
        <a href="#" target="_blank" class="link"><img src="/img/HuffPost.png" alt="HuffPost logo"></a>
        <a href="#" target="_blank" class="link"><img src="/img/Robohub.png" alt="Robohub logo"></a>
        <a href="#" target="_blank" class="link"><img src="/img/France24.png" alt="France24 logo"></a>
        </div>  <!--End of Press1--> 
    
    <div id="order"><h1>Be the first to know & get your Leka at a lower price </h1></div>
    <div id="LekaBtnContact"> {{> AdoptAMoti}} </div>
            </div>
</section>
