<!doctype html>
<html lang="{{lang}}">

	{{> head}}

	<body>

		{{> header}}
			
			{{> HomePage}}
        
        		{{> OurMission}}
        
        		{{> DiscoverMoti}}
        
        		{{> Research}}
        
        		{{> Team}}
        
        		{{> Contact}}

		{{> footer}}

		{{> scripts}}

	</body>

</html>
