<!doctype html>
<html lang="{{lang}}">

	{{> head}}

	<body>

		{{> header}}
                
                {{> HomePage}}
        
        		{{> OurMission}}
        
        		{{> DiscoverMoti}}
        
                	{{> Testimony}}
        
        		{{> Research}}
        
        		{{> Team}}
        
        		{{> Contact}}
            

		{{> footer}}

		{{> scripts}}

	</body>

</html>
