
<!-- Banner -->
<a id="top"></a>

<section id="banner">

	<div class="video">

		<img class="banner-logo" src="/img/moti.png" alt=""/>

	</div>

	<div class="cta">

		<h2>Say hello to Moti</h2>

		<p>And discover a new way to learn, a new kind of friend</p>

		<ul class="actions">

			<li><a href="#cta" class="button special">Pre-order</a></li>
			<li><a href="#learnmore" class="button">Learn more</a></li>

		</ul>

	</div>

</section>

