@import '../../bower_components/normalize.css/normalize';
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import "base/grid-settings";
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'base/base';

@import 'font-awesome.min.css';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');

html,body{ margin:0; padding:0; height:100%; width:100%; }

section#landing {

	position: relative;
	min-height:100%;
	width:100%;
	overflow:hidden;

	background-attachment: scroll, fixed;
	background-image: url('/img/overlay.png'), url('/img/Mathieu.jpg');
	background-position: top left;
	background-size: auto, cover;

	color: #fff;
	text-align: center;
	display: table;

	div.banner {

		@include outer-container();
		margin-top: auto;
		margin-bottom: auto;
		height: 500px;
		display: table-cell;
		vertical-align: middle;

		img {
			height: 150px;
		}

		div.video {
			@include span-columns(4);
			@include shift(2);
			margin-top: 200px;

			a.video-img{
				background-image: url('/img/overlay.png'), url('/img/Adrien.jpg');
				background-position: top right;
				background-size: auto, cover;
				padding: 70px 100px 70px 100px;
				border-style: solid;
				border-radius: 10px;
				border-width: 2px;
				border-color: white;
				transition:.1s;

				i {
					vertical-align: middle;
					color: red;
					opacity: 0.8;
				}


				&:hover {
					border-color: $leka-blue;
					opacity: 0.8;
				}
			}
		}

		div.cta {
			@include span-columns(5);
		}

		h2 {
			font-size: 3.5em;
		}
	}
}

