//colors
$color_navy_blue_approx: darkblue;
$white: white;
$color_viking_approx: #66bddf;
$green: lime;
$color_tree_poppy_approx: #f7a018;
$color_persian_rose_approx: deeppink;
$black: black;

#page2 {
	clear: both;
	padding-top: 55%;
}
#logoPage2 {
	padding: 5%;
	float: left;
}
#texte1 {
	float: right;
	text-align: center;
	padding-right: 5%;
	padding-top: 8%;
}
#photoL {
	overflow: hidden;
	width: 100%;
	height: 30%;
}
#photo {
	float: left;
	width: 45%;
	height: 15%;
}
#texte2 {
	background-color: $color_navy_blue_approx;
	color: $white;
	float: right;
	width: 45%;
	text-align: center;
	font-size: 18px;
	padding-right: 2%;
}
#page3 {
	clear: both;
	padding-top: 3%;
}
/*
#blocs {
	color: $white;
	padding: 10px;
	float: left;
}
#interaction {
	background-color: $color_viking_approx;
	width: 15%;
	text-align: center;
	float: left;
}
#autonomy {
	background-color: $greengreen;
	width: 15%;
	text-align: center;
	float: left;
}
#therapistTool {
	background-color: $color_tree_poppy_approx;
	width: 15%;
	text-align: center;
	float: left;
}
#moti {
	padding-top: 5%;
}
#textePage3Title {
	float: right;
	color: $color_persian_rose_approx;
	font-size: 25px;
	text-align: center;
	padding-top: 5%;
	padding-right: 5%;
}
#textePage3 {
	float: right;
	text-align: center;
	padding-right: 5%;
	width: 60%;
}
#cloud {
	clear: both;
	text-align: right;
	padding-right: 10%;
	padding-top: 3%;
}
*/
#page4 {
	clear: both;
	text-align: center;
	padding-top: 5%;
}
#research1 {
	font-size: 24px;
	padding: 3%;
}
#research2 {
	font-size: 18px;
	padding: 3%;
}
#research3 {
	font-size: 14*6px;
	padding: 3%;
}
#research4 {
	font-size: 24px;
	padding: 3%;
}
#seenIn {
	li {
		margin-left: 2px;
		float: left;
		list-style: none;
		font-weight: bold;
	}
	ul li a {
		display: inline;
		width: 100px;
		color: $black;
		text-decoration: none;
		text-align: center;
		padding: 5px;
		font-weight: bold;
		&:hover {
			color: 66BDDF;
		}
	}
}
#comments {
	text-align: center;
	padding: 3%;
}
#page6 {
	clear: both;
	padding-top: 5%;
}
#footer {
	padding-top: 5%;
	text-align: center;
}
 #page5 {
	clear: both;
	padding-top: 5%;
}
