.center{
    text-align: center;
}
.blue{
    color:$leka-blue;
}
.pink{
    color:$leka-pink;
}
.green{
    color:$leka-green;
}
.bio_text{
    width: 60%;
    float: right;
}
.bio_pic{
    float:left;
}
.bio_text_Level2{
    width: 40%;
    height: 20%;
    float: right;
}
.col1{
    height: 40%;
    padding-bottom: 30%;
}
.col2{
    height: 40%;
}
.columnLevel2{
    float: left;
    width: 30%;
    padding-left: $littleSpace;
}



/*Section First */
#HomePage {
	background-image: $url_0;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#YTLink {
	float: left;
	width: 560px;
	height: 315px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
	overflow: hidden;
	margin-left: 10%;
	margin-top: 10%;
}
#logo1 {
	float: right;
	margin: 10%;
}
#pres1 {
	float: right;
	text-align: center;
	padding-right: $littleSpace;
	width: 45%;
}

/*Section Our Mission */    
#OurMission {
	clear: both;
	padding-top: 55%;
}
#logoPage2 {
	padding: $littleSpace;
	float: left;
}
#texte1 {
	float: right;
	text-align: center;
    vertical-align: center;
	padding-right: 12%;
	padding-top: 8%;
    font-size: 25px;
}
/*#photoL {
	//overflow: hidden;
	width: 100%;
	height: 30%;
}
#photo {
	float: left;
	width: 45%;
	height: 15%;
}
#texte2 {
	background-color: $color_navy_blue_approx;
	color: $white;
	float: right;
	width: 45%;
	text-align: center;
	font-size: 18px;
	padding-right: 2%;
}*/
/*Section Discover Moti */
#DiscoverMoti {
	clear: both;
	padding-top: 3%;
}
#robot{
    margin-left: $littleSpace;
    float: left;
}
#accroche{
    font-size: $big-font-size;
    text-align: center;
    color: $leka-orange;
    float: right;
    padding-bottom: $littleSpace;
    padding-top: $littleSpace;
    padding-right: $littleSpace;
}
#args{
    text-align: center;
    float: right; 
    font-weight: bold;
    font-size: $not-so-big-font-size;
    padding-right: $moreSpace;
}

#otherArgs{
    text-align: center;
    float: right;
    font-size: $not-so-big-font-size;
    padding-top: $littleSpace;
    padding-bottom: $littleSpace;
    padding-right: $moreSpace;
}
#manyArgs{
    font-size: $not-so-big-font-size;
    padding-top: $littleSpace;
    text-align: center;
}
#blocks{
    padding-left: $littleSpace;
}
/* Section Research */
#testimony {
    float: right;
	text-align: center;
	padding: $littleSpace;
}
#picTestimony{
    float: left;
    padding-left: $littleSpace;
}
#research1{
    padding: $littleSpace;
    font-size: $not-so-big-font-size;
    text-align: center;
}
#picTestimony2{
    float: left;
    padding-left: $littleSpace;
}
#research2{
    padding: $littleSpace;
    font-size: $not-so-big-font-size;
    text-align: center;
}
#research3{
    padding: $littleSpace;
    font-size: $not-so-big-font-size;
    text-align: center;
}
#bubble1{
    float: left;
    padding: $bubbleSpaces;
}
#bubble2{
    float: left;
    padding: $bubbleSpaces;
}
#bubble3{
    float: right;
    padding: $bubbleSpaces;
}

/*#seenIn {
	li {
		margin-left: 2px;
		float: left;
		list-style: none;
		font-weight: bold;
	}
	ul li a {
		display: inline;
		width: 100px;
		color: $black;
		text-decoration: none;
		text-align: center;
		padding: 5px;
		font-weight: bold;
		&:hover {
			color: 66BDDF;
		}
	}
}*/

/*Section Team */
#Team {
	clear: both;
	padding-top: $littleSpace;
}
#Level1{
    position: relative;
    width: 90%;
    height: 20%;   
    padding: 0 $moreSpace $moreSpace $moreSpace;
}
#Level1_1{
    float: left;
    width: 40%;
    height: 15%;
}
#Level1_2{
    float: right;
    width: 40%;
    height: 15%;
}
#Level2{
    position: relative;
    width: 100%;
    height: 30%;   
    padding: 0 $moreSpace 0 $moreSpace;
}


/*Section Contact */
#Contact {
	clear: both;
	padding-top: $littleSpace;
}
#footer {
	padding-top: $littleSpace;
	text-align: center;
}

