// Typography
$base-font-family: 'Khula', sans-serif;
$heading-font-family: $base-font-family;


// Font Sizes
$base-font-size: 1em;
$big-font-size: 30px;
$not-so-big-font-size: 24px;
$oops-was-too-big-size: 20px;

//background
$url_0: url(/img/fond_kid.png);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$nav-bar-height: 3.25em;

//margin or padding
$littleSpace: 5%;
$moreSpace: 15%;
$bubbleSpaces: 6%;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Colors Leka
$leka-green: #aecd38;
$leka-pink: #ff2d7c;
$leka-blue: #66bddf;
$leka-orange: #f7a018;
$leka-yellow: #ffca00;
$leka-grey: #7b7b7b;
$leka-darkgrey: #515151;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
